*, *::before, *::after {
    box-sizing: inherit; /* Inherit box-sizing for all elements */
}
*{
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* header */

.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
}
.icons{
    display: flex;
    align-items: center;
    height: 100%;
}
.icon{
    color:white;
    padding-right: 50px; 
}
.icon:hover{
    transform: scale(0.85);
}
.nav-bar{
    position:absolute;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    /* margin: 0; */
    padding: 0;

}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item a{
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-size:1.5rem;
    padding-left: 10rem;
}
.nav-item a:hover{
    transform: scale(0.85);
}
.personal-image {
    display: flex;
    margin-left: 6%;
    width: 8%;
    height: 100%;
    background-color: black; 
    border-radius: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

/* Main */

.personal-info {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 55%;
}
.personal-info h1 {
    display: flex;
    font-size: 100px; 
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    /* margin: 0;  */
}

.personal-info h2 {
    font-size: 1.75rem; 
    color: #555;
    margin: 0;
}

.personal-info p {
    /* margin: 0; */
    font-size: 18px; 
    white-space: pre-line; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8; 
}

/* skills */

.skills {
    height: 100%;
    width: 100%;
    background-color: rgb(223, 227, 230); /* Lighter background color for a cleaner look */
    padding: 2% 5%; 
}
.skills h1 {
    font-size: 4rem; 
    font-family: 'Jacques Francois Shadow', serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.5rem; 
}
.skills-list {
    display: flex;
    flex-direction: column;
}
.skill-row {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: start;
    gap: 1rem;
    margin-bottom: 3rem;
}
.skills h2 {
    display: flex;
    font-size: 1.75rem; 
    color: #555;
    margin-right: 4rem; 
}
.skills ul {
    display: flex;
    gap: 0.5rem; 
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; 
    max-width: calc(100% - 4rem); 
    flex-wrap: wrap;
}
.skills li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    color: #666; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    margin-right: 0.7rem;
    width: 100px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    overflow: hidden; /* Hide overflowing content */
    text-align: center; /* Center text inside the box */
}
.skill-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 0.6rem;
}















.personal-info p {
    /* margin: 0; */
    font-size: 18px; 
    white-space: pre-line; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8; 
}