*, *::before, *::after {
    box-sizing: inherit; /* Inherit box-sizing for all elements */
}
*{
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
    background-size: cover;
    color: white;
    margin: 0;
}

/* header */

.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20%;
    color: white;
}
.icons{
    display: flex;
    align-items: center;
    height: 100%;
}
.icon{
    color:white;
    padding-right: 50px; 
}
.icon:hover{
    transform: scale(0.85);
}
.nav-bar{
    position:absolute;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-item{
    display: flex;
    align-items: center;
    padding-left: 10rem;
}
.nav-item a {
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}
/* Media Queries for Smaller Screens */
@media (max-width: 1200px) {
    .nav-item {
        padding-left: 5rem;
    }
    .icon {
        padding-right: 30px;
    }
}
@media (max-width: 900px) {
    .nav-bar {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-item {
        padding-left: 1rem ;
        margin-bottom: 1rem;
    }
    .nav-item a {
        font-size: 1.25rem;
    }
    .icon {
        padding-right: 20px;
        font-size: 1.2rem;
    }
}
@media (max-width: 700px) {
    .header {
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .icons {
        margin-bottom: 2rem;
    }
    .nav-item a {
        font-size: 1rem;
    }
    .icon {
        padding-right: 10px;
        font-size: 1rem;
    }
    .nav-item {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Main */
.home-page{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height: 80vh;
}
.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.name {
    font-size: 3rem; 
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.hello {
    font-size: 4.8rem; 
}
.personal-info h2 {
    font-size: 1.2rem; 
    margin: 0;
}

.personal-info p {
    font-size: 0.8rem; 
    white-space: pre-line; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8; 
    margin-bottom: 1rem;
}
.circle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.rotating-circle {
    width: 20rem;
    height: 20rem;
    border-radius: 50%; 
    margin-left: 5rem;
}
.image-container {
    position: absolute; 
    width: 18rem;
    height: 18rem;
    border-radius: 50%; 
    margin-left: 5rem;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

a.resume-link {
    background-color: #007bff;
    color: white; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif; 
    text-decoration: none; 
    display: inline-block; 
    width:45%
}
a.resume-link:hover {
    background-color: #0056b3; 
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-icons {
    display: flex; 
    gap: 0.8rem;
    margin-left: 2rem; 
}

@media (max-width: 768px) {
    .home-page {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center content */
    }
    .personal-info {
        align-items: center;
        text-align: center;
        height: 20vh;
        margin-top: 4rem;
    }
    .personal-info h2{
        margin-top: 6rem;
    }
    .name {
        font-size: 2rem; /* Adjust font size */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .hello {
        font-size: 3.2rem; /* Adjust hello size */
        margin-top: 1rem;

    }

    .rotating-circle {
        width: 15rem;
        height: 15rem;
        margin-left: 0;
    }

    .image-container {
        width: 13rem;
        height: 13rem;
        margin-left: 0;
        margin-top: 10rem; 
    }

    a.resume-link {
        font-size: 0.9rem;
        width: 50%; 
        margin-top: 1rem;
    }

    .home-icons {
        margin-left: 1rem;
        margin-top:1rem;
    }
}

@media (max-width: 500px) {
    .personal-info {
        padding: 1rem;
        margin-bottom: 0; 
    }
    .personal-info h2 {
        margin-top:2rem;
    }
    .name {
        font-size: 1.5rem;
    }
    .hello {
        font-size: 2.5rem;
    }
    .personal-info p {
        font-size: 0.7rem;
    }
    .rotating-circle {
        width: 10rem;
        height: 10rem;
        margin-top: 1rem; /* Keep image closer to text */
    }
    .image-container {
        width: 8rem;
        height: 8rem;
        margin-top: -1.5rem; /* Bring the image up */
    }

    a.resume-link {
        font-size: 0.8rem;
        padding: 8px 16px;
        width: 70%;
    }

    .home-icons {
        gap: 0.5rem;
        margin-left: 2rem;
    }
}

/* skills */

.skills {
    height: 100%;
    width: 100%;
    padding: 2% 4%; 
}
.skills-list {
    display: flex;
    flex-direction: column;
}
.skill-row {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: start;
    gap: 1rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .skill-row {
        margin-bottom: 3rem;
    }
}

@media (min-width: 1200px) {
    .skill-row {
        margin-bottom: 5rem;
    }
}
@media (min-width: 1700px) {
    .skill-row {
        grid-template-columns: 300px 1fr; /* Increase column size */
        margin-bottom: 7rem;
    }
}
@media (min-width: 2000px) {
    .skill-row {
        grid-template-columns: 1fr 1fr; /* Two equal columns for larger screens */
        margin-bottom: 8rem;
    }
}
.skills h2 {
    display: flex;
    font-size: 1.75rem; 
}
@media (max-width: 500px) {
    .skills h2 {
        font-size: 0.8rem; 
    }
}
@media (max-width: 768px) {
    .skills h2 {
        font-size: 1.3rem; 
    }
}

.skills ul {
    display: flex;
    gap: 0.5rem; 
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; 
    max-width: calc(100% - 4rem); 
    flex-wrap: wrap;
}
.skills li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    color: #666; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    margin-right: 0.7rem;
    width: 100px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    overflow: hidden; /* Hide overflowing content */
    text-align: center; /* Center text inside the box */
}
@media (max-width: 500px) {
    .skills li {
        width: calc(100% - 1rem); 
        font-size: 0.1rem; 
    }
}
@media (max-width: 768px) {
    .skills li {
        width: calc(50% - 1rem);
        font-size:0.9rem 
    }
}
.skill-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 0.6rem;
}
@media (max-width: 500px) {
    .skill-icon {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 768px) {
    .skill-icon {
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 1700px) {
    .skill-icon {
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 2000px) {
    .skill-icon {
        width: 70px;
        height: 70px;
    }
}
/* projects-subject */

.projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin:0;
}
.content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    height: 100vh;
}
.subject-image{
    display: flex;
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    margin-right: 1.5rem;
    cursor: pointer;
}
.subject-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 25px rgba(0, 0, 0, 0.15); 
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    padding: 10px 0;
}

.project-image {
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .project-image {
        width: calc(50% - 20px);
    }
    .subject-image {
        width: 18rem;
        height: 12rem;
        margin-bottom: 1rem; /* Add bottom margin to separate from text */
    }
    .project-image {
        width: 20rem; 
        height: 14rem; /* Maintain aspect ratio */
    }
}
@media (max-width: 1000px)
{
    .subject-image {
        width: 15rem;
        height: 10rem;
        margin-bottom: 1rem; /* Add bottom margin to separate from text */
    }
    .project-image {
        width: 16rem; 
        height: 12rem; /* Maintain aspect ratio */
    }
}
@media (max-width: 768px) {
    .project-image {
        width: 100%;
    }
    .content {
        flex-direction: column; /* Stack the content vertically */
        height: auto; /* Allow height to adjust based on content */
        margin-bottom: 5rem;
    }

    .subject-image {
        width: 18rem;
        height: 12rem; 
        margin-right: 0; /* Remove right margin */
        margin-bottom: 1rem; /* Add bottom margin to separate from text */
    }

    .project-image {
        width: 15rem; 
        height: 10rem; 
    }
}
@media (max-width: 500px) {
    .subject-image {
        width: 15rem; 
        height: auto;
        margin-bottom: 1rem;
    }

    .project-image {
        width: 10rem;
        height: auto;
    }
}

/* project-details*/

.current-project {
    max-width: 80rem;
    height: 75vh;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
    scrollbar-width:auto;
    scrollbar-color: #1e90ff #f0f0f0;
    margin-top:2rem;
}
/* Customize scrollbar for WebKit browsers (Chrome, Safari, newer versions of Edge) */
.current-project::-webkit-scrollbar {
 width: 12px;
}
.current-project::-webkit-scrollbar-track {
 background: #f0f0f0;
 border-radius: 4px;
}
.current-project::-webkit-scrollbar-thumb {
 background-color: #1e90ff;
 border-radius: 4px;
 border: 2px solid #f0f0f0;
}
.current-project::-webkit-scrollbar-thumb:hover {
 background-color: #1a7ae0;
}
.project-description {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}
.current-project p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #444;
    margin: 20px 0;
    text-align: justify;
}
.current-project img {
    display: flex;
    justify-self: center;
    max-width: 100%;
    height: 300px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title-link-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0; /* Add some vertical padding */
}

.title-link-container h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 2em;
    color: #333;
}

.title-link-container a {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    color: #1e90ff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.title-link-container a:hover {
    background-color: #1e90ff;
    color: white;
}

.close-button {
    left:0;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #f30d0d;
}

.close-button:hover {
    color: #1e90ff;
}

.selected-page a {
    color: #3498db;
}

.selected-page a {
    color: #3498db;
}
#back-icon{
    color: white;
    margin-left: auto;
    margin-right: 3rem;
    cursor:pointer;
}

@media (max-width: 768px) {
    .current-project {
        height: auto; /* Allow height to adjust based on content */
        padding: 15px; /* Reduce padding for smaller screens */
    }

    .project-description {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .current-project p {
        font-size: 0.9em; /* Slightly smaller font for better readability */
        margin: 15px 0; /* Adjust margin */
    }

    .current-project img {
        height: auto; /* Ensure the height is responsive */
        margin: 15px auto; /* Reduce margin around images */
    }
    .title-link-container{
        margin-bottom: 4rem;
        position: static;
        align-items: start;
    }
    .title-link-container h2 {
        font-size: 1.3rem; /* Adjust heading size */
        margin-right: 8rem;
    }

    .title-link-container a {
        margin-right: 1rem;
    }
}

/* Media query for extra-small screens (phones) */
@media (max-width: 500px) {
    .title-link-container{
        margin-bottom: 4rem;
        position: static;
        align-items: start;
    }
    .title-link-container h2 {
        font-size: 1.2rem; /* Adjust heading size */
        margin-right: 8rem;
    }

    .title-link-container a {
        margin-right: 1rem;
    }
}